.cont_sect {
  margin: 30px 0 30px 0;
}

.link_wrapper {
  display: flex;
  justify-content: center;
}

.cont_h2 {
  font-size: 30px;
  text-align: center;
}

.cont_icon {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.cont_h2:after {
  content: "";
  display: block;
  margin: auto;
  width: 30%;
  padding-top: 20px;
  border-bottom: 3px solid #cc2b2b;
}

.link_wrapper > a:hover,
a > img:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  transition: all 0.3s;
}

@media screen and (max-width: 600px) {
  .cont_icon {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .cont_h2 {
    font-size: 25px;
    text-align: center;
  }
}
