.info_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_sect {
  text-align: center;
}
.about_button {
  width: 15%;
  align-self: center;
}

.name {
  color: red;
  text-shadow: -1px 0 wheat, 0 1px wheat, 1px 0 wheat, 0 -1px wheat;
}

@media screen and (max-width: 600px) {
  .about_button {
    width: 50%;
  }
}
