body {
  margin: 0;
  font-family: "Gelasio", serif;
}

footer {
  text-align: center;
  padding: 10px 0 20px 0;
  border-top: 2px solid #cc2b2b;
  background-color: #181818;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
.button:hover {
  color: #cc2b2b;
}

code {
  font-family: "Lato";
  color: #ffffff;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

li {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  font-family: "Lato";
}
