@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

body {
  margin: 0;
  font-family: "Lora", serif;
}

footer {
  text-align: center;
  padding: 10px 0 20px 0;
  border-top: 2px solid red;
  background-color: #181818;
}

code {
  color: #ffffff;
}
